<app-header>
  <div class="header-content">
    <div class="flex items-center" *ngIf="loggedIn">
      <span class="mr-5">{{userName}}</span>
      <app-button [buttonText]="logoutBtnText" (click)="authenticate()"></app-button>
    </div>
    <app-button *ngIf="!loggedIn" [buttonText]="loginBtnText" (click)="authenticate()"></app-button>
  </div>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
<!--  <app-info [title]="infoTitle" [text]="infoText">-->
<!--    <app-button [buttonText]="addCourseBtnText"></app-button>-->
<!--  </app-info>-->

  <!-- Course Card component -->
<!--  <app-course-card></app-course-card>-->
  <app-course-main></app-course-main>

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
